@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;1,700&display=swap');

body
{
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

.zebi
{
    display: flex;
    justify-content: center;
}

.content
{
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 50px 100px rgba(0, 0, 0, .2) ;
    background-color: hsl(225, 100%, 98%);
    text-align: center;
    width: 450px;
    height: 670px;
    border-radius: 15px;
}

#hero
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

p
{
    color: hsl(224, 23%, 55%);
    font-weight: medium;
}

span
{
    color: hsl(223, 47%, 23%);
    font-weight: bold;
}

h1
{
    color: hsl(223, 47%, 23%);
    font-weight: bold;
}

.tarif
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.description
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.description p
{
    width: 70%;
}

#icon_music
{
    margin-right: 1em;
    margin-bottom: 1em;
}

a 
{
    color: hsl(245, 75%, 52%);
}

#price
{
    margin-top: 0.1em;
}

.text
{
    margin-right: 5em;
}

.tarif a
{
    margin-left: 0.3em;
}

.tarif a:hover
{
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}

.button a:link
{
    text-decoration: none;
}

.button
{
    background-color: hsl(245, 75%, 52%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 380px;
    border-radius: 10px;
    margin-bottom: 1em;
}

.button a
{
    color: white;
    font-weight: bold;
}

.proceed
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

#cancel:link
{
    text-decoration: none;
}

#cancel
{
    color: hsl(224, 23%, 55%);
    font-weight: bold;
    margin-top: 1em;
}

#cancel:hover
{
    color: hsl(223, 47%, 23%);
}

.button:hover
{
    background-color: hsl(224, 23%, 55%);
}

.attribution
{
    font-size: 11px;
    text-align: center;
    margin-top: 8em;
}

.attribution a
{
    color: hsl(228, 45%, 44%);
}