@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;1,700&display=swap');

body
{
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

.zebi
{
    display: flex;
    justify-content: center;
}

.content
{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 50px 100px rgba(0, 0, 0, .2) ;
    background-color: hsl(225, 100%, 98%);
    text-align: center;
    width: 400px;
    height: 500px;
    border-radius: 15px;
}

#hero
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

p
{
    color: hsl(224, 23%, 55%);
    font-weight: medium;
}

span
{
    color: hsl(223, 47%, 23%);
    font-size: 25px;
    font-weight: bold;
}

.attribution
{
    font-size: 11px;
    text-align: center;
    margin-top: 10em;
}

.attribution a
{
    color: hsl(228, 45%, 44%);
}